@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_italic_condensed_700.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_italic_normal_400.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_italic_normal_500.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_italic_normal_700.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_normal_condensed_700.woff2') format('woff2');
  font-weight: 700;
  font-stretch: condensed;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_normal_normal_400.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_normal_normal_500.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('/fonts/HelveticaNow/HelveticaNowDisplay_normal_normal_700.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4/SourceSerif4-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
:root {
  --font-helvetica-display: 'Helvetica Now Display', sans-serif;
  --font-source-serif: 'Source Serif 4', serif;
}
